<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogicalStationNum" value="1"/>
    <add key="LogFormatter" value="%logger - %date - %level - T[%thread] - [ %message ] %exception%newline"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
