<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PLCDeviceMonitorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PLCDeviceMonitorGUI.Properties.Settings.OracleDB"
            connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.101.242)(PORT=1528)))(CONNECT_DATA=(SERVICE_NAME = TUAT2)));User Id=cuxwms;Password=cuxwms;" />
    </connectionStrings>
    <userSettings>
        <PLCDeviceMonitorGUI.Properties.Settings>
            <setting name="LogicalStationNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MoniterInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>log/PLC-Log</value>
            </setting>
            <setting name="LogFormatter" serializeAs="String">
                <value>%logger - %date - %level - T[%thread] - [ %message ] %exception%newline</value>
            </setting>
            <setting name="BackupFilename" serializeAs="String">
                <value>bk/PLC-Data</value>
            </setting>
            <setting name="RecordConfigFilename" serializeAs="String">
                <value>Records.xml</value>
            </setting>
            <setting name="MsgFormatter" serializeAs="String">
                <value>STACK-REP^%PalletizerName^%PlateCode^%BoxCode&amp;Amount^N</value>
            </setting>
            <setting name="ValidatePlateCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateBoxCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>PLC设备监控</value>
            </setting>
            <setting name="DBRetryInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DBRetryTimes" serializeAs="String">
                <value>3</value>
            </setting>
        </PLCDeviceMonitorGUI.Properties.Settings>
    </userSettings>
</configuration>